

body {
	background-color: white;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin: 0px;
	background-color: #CAC7C0;
}

/*
Header styling
*/

h1, h2, h3 {
	font-family: Copperplate;
}

div#pageHeadHome {
	color:  #CAC7C0; /* whitesmoke; */
	padding-left: 80px;
}

div#pageHead {
	color: #CAC7C0; /* whitesmoke; */
	background-image: url("images/background7.jpg");
	background-size: cover;
	background-position: center center;
	padding-left: 80px;
}

div#pageHead h1 {
	display: inline-block;
	font-size: 400%;
}

div#pageHeadHome h1 {
	display: inline-block;
	font-size: 400%;
}


div#mainBody {
	diplay: flex;
}

div#footer {
	margin: auto;
	padding: 30px;
	font-style: italic;
	text-align: center;
}


/*
Lefthand menu and left-hand gradient styling
*/

div#leftGradient {
	background: linear-gradient(90deg, rgba(255,255,255,.75) 0%, rgba(255,255,255,.0) 100%);
	width: 260px;
	padding-bottom: 10px;
	position: fixed;
	height: 100vh;
}


div#leftMenu {
	position: absolute;
	float: left;
	height: 100%;
	display: inline-block;

}

ul.leftMenu {
	list-style: none;
	display: inline-block;
	/* background-color: rgba(255,255,255,.25); */
	padding: 30px;
	margin-top: 10px;
	width: 200px;
	font-family: Copperplate;
}

ul.leftMenu li {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #363532;
}

a.menuItem {
	font-size: 150%;
	color: #363532;
	text-decoration: none;
}

a.menuItem:hover {
	color: #CAC4C0;
}

a.menuItem:visited {
	color: #363532;
}

ul.leftMenu li:hover {
	background-color: rgba(0,0,0,.60);
	color: #CAC4C0;
}




/*
Main content for various pages
*/

div#content {
	display: inline-block;
	border-color: rgb(240,240,240);
	border-width: 2px;
	margin-top: 10px;
	margin-left: 260px;
	max-width: 1200px;
	padding-right: 30px;
	padding-top: 30px;
}


div.blogImage {
	width: 60%;
	margin: auto;
}

.blogImage img {
	max-width: 100%;
	max-height: 100%;
	padding: 10px;
	background-color: #363532;
	border-radius: 5px;
}

div.blogEntry {
	max-width: 800px;
	margin-top: 30px;
	border-bottom: 2px solid #363532;
}

div.servicesRow {
	max-width: 800px;
	margin-top: 30px;
	clear: both;
}

div.servicesPhoto {
	width: 360px;
	padding: 10px;
	background-color: #363532;
	border-radius: 5px;
}

div.leftImg {
	float: left;
}

div.rightImg {
	float: right;
}

.servicesPhoto img {
	max-width: 360px;
	max-height: 100%;
	margin: auto;
}

colgroup.headerColumn {
	font-weight: bold;
}

div.servicesBlurb {
	padding: 20px;
	align-content: center;
	font-size: 125%;
}

input,textarea {
	padding: 5px;
	border-radius: 5px;
}

table.submissionForm tr td:first-child {
	text-align: right;
	font-weight: bold;
}



/*
Gallery styles
*/

#galleryGrid {
}

div.galleryPhoto {
	max-width: 280px;
	margin: 15px ;
	display: inline-block;
}

.galleryPhoto img {
	max-width: 280px;
	padding: 10px ;
	background-color: #363532;
	border-radius: 5px;

}

a.closeOverlay {
	font-size: 200%;
	background-color: #1E1C15;
	color: #CAC4C0;
	font-weight: bold;
	border: 2px solid #363332;
	border-radius: 3px;
	padding: 3px;
	margin-bottom: 5px;
	text-decoration: none;
	display: inline-block;
}

#galleryOverlay {
	z-index: 100; /* force to the front of the render stack */
	position: fixed; 
	display: none; /* Hidden by default, toggled to grid via javascript */
	width: 100vw; 
	height: 100%; 
	/*overflow: scroll;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.70); 
	backdrop-filter: blur(5px);
	place-items: center;
}

#galleryContainer {
	max-height: 90vh;
	max-width: 60%;
}

#imageShowcase {
	max-height: 100%;
	max-width: 100%;
	padding: 10px;
	background-color: #363532;
	border-radius: 5px;
}



